html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Globales */
body {
  font-family: 'Poppins', sans-serif;
  padding-top: 5rem;
}


h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin: 0;
  text-align: center;
  color: hsl(210, 10%, 33%);
}

@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    text-align: left;
  }
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  text-align: center;
  color: #4A72B2
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.5rem;
    text-align: left;
  }
}

h3 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4A72B2;
  padding-top: 6rem;
}

h4 {
  font-size: 2.2rem;
  font-weight: 700;
  margin: 0;
  color: hsl(210, 10%, 33%);
}

p {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212121
}

a {
  text-decoration: none;
}

/* Utilidades */
.container {
  width: 85%;
  max-width: 1000px;
  margin: 0 auto;
}

.btn {
  display: block;
  border-radius: .5rem;
  text-align: center;
  padding: 1.3rem 6rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
}

.btn-white {
  border: solid;
  border-color: #4A72B2;
  color: #4A72B2;
  border-width: .5px;
  transition: 0.2s;
}

.btn-white:hover {
  background-color: #4A72B2;
  color: #ffffff;
}

.btn-blue {
  border: solid;
  border-color: #4A72B2;
  border-width: .5px;
  background-color: #4A72B2;
  color: #ffffff;
  transition: 0.2s;
}

.btn-blue:hover {
  background-color: #ffffff;
  color: #4A72B2;
}



/* Header */
header {
  background-color: #ffffff;
  height: 5rem;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar a {
  display: flex;
  align-items: center;
  height: 5rem;
}

.bar a p {
  font-weight: 700;
  margin: 0;
  padding-left: 1rem;
}

.bar img {
  height: 3.5rem
}


.bar ul {
  display: none;
}

@media (min-width: 768px) {
  .bar ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    height: 5rem;
  }
}

.bar ul li {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 0 3rem 0 0;
}

.nav-option:hover {
  color: #4A72B2;
}

.bar ul li:last-of-type {
  margin: 0;
}

/* Introducción*/
.intro {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .intro {
    height: 90vh;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .iam {
    flex: 0 0 calc(50% - 5rem);
  }

  .iam .btn {
    display: inline-block;
  }
}

.iam span {
  font-weight: 600;
  color: #4A72B2;
}

.img-container img {
  display: block;
  width: 80%;
  margin: 8rem auto;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .img-container img {
    width: 35rem;
  }
}


/*Acerca de mi */

@media (min-width: 768px) {
    .about-me {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.about-img img {
  width: 100%;
  border-radius: 1rem;
  max-height: 100%;
}

@media (min-width: 768px) {
  .about-text {
    flex: 0 0 calc(50% - 1rem);
  }
}


/* Proyectos */
@media (min-width: 768px) {
  .project-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.project {
  padding: 2rem;
  box-shadow: 0px 5px 15px -10px rgba(0,0,0,0.75);
  margin: 0 0 4rem 0;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .project {
    flex: 0 0 calc(33.3% - 2rem);
  }
}

.technologies {
  font-size: 1.8rem;
  font-weight: 200;
}

@media (min-width: 768px) {
  .technologies {
    min-height: 5rem;
    text-align: center;
  }

  .project h4 {
    text-align: center;
  }
}

.project-img {
  width: 100%;
}

.project-description {
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .project-description {
    min-height: 13rem;
    text-align: center;
  }
}

/*Habilidades */

.habilities-icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.habilities-icons .fab {
  font-size: 5rem;
  margin: 1rem 2rem;
  color: #212121;
}

/* Contacto */
#my-contact {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
  #my-contact {
    min-height: 100vh;
  }
}

ul {
  padding: 0;
}

ul li {
  margin: 1.5rem 0;
  list-style: none;
  text-align: center;
  font-size: 1.8rem;
  color: #212121
}

li a {
  color: #212121;
}

@media (min-width: 768px) {
  .contact {
    height: 90vmin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.contact h4 {
  margin-top: 7rem;
  text-align: center;
}

.contact p {
  font-size: 1.8rem;
  margin: 0;
}

/* Footer */
footer {
  background-color: #4A72B2;
  margin-bottom: 0;
}

.copyright {
  padding: 1rem 0
}

footer p {
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  color: #ffffff;
  font-weight: 200;
}